<%= render 'shared/navbar_student' %>

<%= render 'shared/navbar' %>
<% content_for :title, "Edit Major - #{ @major.mname }" %>
<h1>Edit Major</h1>

<%= render 'admin/majors/form', major: @major %>

<%= link_to 'Back', admin_majors_path %>
