
<%= render 'shared/navbar_student2' %>
<%= render 'form', student: @student %>

<% content_for :title, "Edit Student - #{ @student.first_name } #{ @student.last_name }" %>


<%# 
<div>
  <%= link_to 'Edit', edit_student_path(@student.google_id) %>
</div>


