<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% content_for :title, "Admin Help - Student Courses Page" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'admin/support/deployment_navbar' %>
</body>