<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Other Support Page</title>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <h1>Admin Other Support</h1>
</body>