<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Other Support Page</title>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'shared/navbar_student' %>
  <h1> Other Useful Resources </h1>
  <h2>Useful Links</h2>
  <ul>
  <li><a href=https://teamup.org/> Teamup </a> </li>
  <li><a href=https://howdy.tamu.edu/uPortal/normal/render.uP> Howdy Portal </li>
  </ul>
  <!-- > Contact info for admins here maybe? < -->
</body>