
<h1>Support#other</h1>
<p>Find me in app/views/support/other.html.erb</p>
=======
<h1> Other Useful Resources </h1>
<h2>Useful Links</h2>
<h3><a href=https://teamup.org/> Teamup </a> </h3>
<h3><a href=https://howdy.tamu.edu/uPortal/normal/render.uP> Howdy Portal </h3>

<!-- > Contact info for admins here maybe? < --> 
\
